/* main */

  .body {font-family: 'Source Serif Pro', serif;
        font-size: 18px;
        line-height: 26px;
        margin-left: 150px;
        margin-right: 150px;
  }

  .center-text {
  	text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
  }

  .section-mark {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }

  .section-mark {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }

  .block-indent {
    padding-left:  50px;
    padding-right:  50px;
  }

  .subsection {
    padding-top: 20px;
    text-align: center;
  }


/* jumbotron */

  .jumbotron-main {
      background-image: url(../img/supreme-court-2.jpg);
      background-size: cover;
      min-height: 800px;
      margin-bottom: 0px;
      width: 100%;
  }


/* table of cases */

  .odd {
    background-color: #f2f2f2 !important;
  }

  td {
    vertical-align: top;
  }

  label {
    font-weight: 300;
  }

  @media (max-width: 1200px) {
    table td:nth-child(2), table th:nth-child(2){
      display:none;
    }
  }

  @media (max-width: 1000px) {
    table td:nth-child(4), table th:nth-child(4){
      display:none;
    }
  }

  @media (max-width: 800px) {
    table td:nth-child(5), table th:nth-child(5){
      display:none;
    }
  }

  @media (max-width: 600px) {
    table td:nth-child(3), table th:nth-child(3){
      display:none;
    }
  }


/* navbar */

  .navbar {
      margin-bottom: 0px;
  }

  .navbar .navbar-default {
  	border-color: #FFFFFF;
  }

  .header {
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 26px;    
  }

  .header-container {
    background-color:   #CCCCCC  ;
  }

  .project-title {
  	font-size: 28px;
  }


/* footer */

  .footer-big-text {
  	font-size: 24px;
  }

  footer {
    background-color:   #CCCCCC  ;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 26px;
  }

  #copyright {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 992px) {
    #uva-info {
      text-align: center;
    }
  }

/* TIPUE SEARCH */

  .tipue_search_button {
    position: relative;
    float: left;
    width: 47px;
    height: 56px;
    margin-left: -3px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0; 
}
#tipue_search_input {
    float: left;
    width: 200px;
    background-color: #f3f3f3;
    border: none;
    padding: 9px 6px 10px 15px;
    height: 56px;
    border-radius: 3px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    box-shadow: none;
    outline: 0;
    margin: 0;
    font: 15px/1 'Open Sans', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tipue_search_icon {
    float: left;
    transform: rotate(-45deg);
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    box-shadow: none;
    outline: 0;
    margin: -1px 0 0 8px;
    font: 300 24px/1 'Open Sans', sans-serif;
    color: #777;
}

.tipue_search_content_title {
  font-size: 30px !important;
}

/* HOMEPAGE BUTTON-LINKS */

  a.button8{
	display:inline-block;
	padding:0.2em 1.45em;
	margin:0.1em;
	border:0.15em solid #CCCCCC;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:400;
	color:#000000;
	background-color:#CCCCCC;
	text-align:center;
	position:relative;
  }
  a.button8:hover{
	border-color:#7a7a7a;
  }
  a.button8:active{
	background-color:#999999;
  }
  @media all and (max-width:30em){
	a.button8{
		display:block;
		margin:0.2em auto;
	}
  }
